<form action="/articles" method="post">
  <label>Title:</label>
  <input type="text" id="title" name="title" >

  <label>Content:</label>
  <input type="text" id="content" name="content" >

<input type="submit" name="submit" id="submit" >
</form>